<template>
    <div class="hello" style="position:relative; bottom:60px"><br><br>
    <center>
        <img src="../assets/home.jpg">
    <table style="position:relative; bottom:120px;">
        <br>
          <br>
          <br>
          <br>
          <br>
          <br>
      <tr>
        <td><router-link to="/kursi"><img src="../assets/kursi.jpg" style="position:relative; right:60px; bottom:10px; border-radius:50%; height:263px; "><h2 style="position:relative; left:0px;">Kursi</h2></router-link></td>
        <td><router-link to="/meja"><img src="../assets/meja.jpg" style="position:relative; left:20px; bottom:10px; border-radius:50%; height:260px;"><h2 style="position:relative; left:105px;">Meja</h2></router-link></td>
      </tr>
    </table>

    </center>
    </div>
</template>
