<template>
  <div class="hello" style="position:relative; bottom:60px">
    <p style="color:grey; font-size:20px;">____________________________________________________________________________</p>
    <p style="color:grey; font-size:20px; position:relative; bottom:20px;">____________________________________________________________________________</p>
    <center>
    <router-link to="/kursi">
    <button type="button" class="btn btn-md btn-primary" style="position:relative; bottom:10px; right:390px;">back</button>
    </router-link>
    <h2>Data Kursi</h2>
    <form @submit.prevent="submitForm">
    <table class="table table-hover table-striped" style="width:830px; border-bottom:1px solid lightgrey;" >
      <tr>
        <td><label>Harga </label></td>
        <td><input type="number"  v-model="kursi.harga" class="form-control" required></td>
      </tr>
      <tr>
        <td><label>Model </label></td>
        <td><input type="text" v-model="kursi.model" class="form-control" required></td>
      </tr>
      <tr>
        <td><label>Stok </label></td>
        <td><input type="number" v-model="kursi.stok" class="form-control" required></td>
      </tr>
    </table>
    <button type="submit" class="btn btn-lg btn-info" style="position:relative; left:360px;">Save</button>
    </form>
    </center>
    <p style="color:grey; font-size:20px;">____________________________________________________________________________</p>
    <p style="color:grey; font-size:20px; position:relative; bottom:20px;">____________________________________________________________________________</p>

  </div>
</template>
<script>
import {api} from '@/helper/api'

export default {
  name: 'KursiForm',
  data () {
    return {
      kursi: {
        id: null,
        harga: '',
        model: '',
        stok: ''
      }
    }
  },
  mounted () {
    let id = this.$route.params.id

    if (id) {
      let url = 'http://localhost/PauzanTA/public/kursi/'
      api.get(url + id).then(res => {
        this.kursi = res.data.result
      })
    }
  },
  methods: {
    submitForm () {
      let data = this.kursi
      let url = 'http://localhost/PauzanTA/public/kursi'

      if (this.kursi.id) {
        url += '/' + this.kursi.id
      }

      api.post(url, data).then(res => {
        if (res.data.status === 'success') {
          this.$router.push('/kursi')
        } else {
          console.log(res.data.message)
        }
      }).catch(err => {
        console.log(err)
      })
    }
  }
}
</script>
