<template>
  <div class="hello" style="position:relative; bottom:60px">
    <p style="color:grey; font-size:20px;">____________________________________________________________________________</p>
    <p style="color:grey; font-size:20px; position:relative; bottom:20px;">____________________________________________________________________________</p>
    <center>
    <h1>Data Kursi</h1>
    <router-link to="/">
    <button type="button" class="btn btn-sm " style="background:lightgrey; position:relative; bottom:10px; right:350px;">back</button>
    </router-link>
    <router-link to="/kursi/create">
    <button type="button" class="btn btn-sm btn-primary " style="position:relative; bottom:10px; right:350px;">tambah</button>
    </router-link>
    <table class="table table-hover table-striped" style="width:830px;" >
      <tr>
        <th>No</th>
        <th>Harga</th>
        <th>Model</th>
        <th>Stok</th>
        <th>Aksi</th>
      </tr>
      <tr v-for="(kursi, i) in data_kursi" :key="i">
          <td>{{ i + 1 }}</td>
          <td>{{ kursi.harga }}</td>
          <td>{{ kursi.model }}</td>
          <td>{{ kursi.stok }}</td>
          <td>
            <router-link :to="'/kursi/' + kursi.id"><button type="button" class="btn btn-sm btn-primary">edit</button></router-link>
            <button @click="deleteRow(kursi.id)" class="btn btn-sm btn-danger">delete</button>
          </td>
        </tr>
    </table>
    </center>
    <p style="color:grey; font-size:20px;">____________________________________________________________________________</p>
    <p class="top-right"><b><i>@copyright by M Pauzan Gipari</i></b></p>
    <p style="color:grey; font-size:20px; position:relative; bottom:20px;">____________________________________________________________________________</p>
  </div>
</template>

<script>
import { api } from '@/helper/api'

export default {
  name: 'Kursi',
  data () {
    return {
      data_kursi: []
    }
  },
  mounted () {
    this.get()
  },
  methods: {
    get () {
      let url = 'http://localhost/PauzanTA/public/'
      let url2 = 'kursi'
      api.get(url + url2).then(res => {
        if (res.data.status === 'success') {
          this.data_kursi = res.data.result
        } else {
          console.log(res.data.message)
        }
      }).catch(err => {
        console.log(err)
      })
    },
    deleteRow (id) {
      let url = 'http://localhost/PauzanTA/public/kursi/'
      api.delete(url + id).then(res => {
        if (res.data.status === 'success') {
          this.get()
        } else {
          console.log(res.data.message)
        }
      }).catch(err => {
        console.log(err)
      })
    }
  }
}
</script>
